footer {
    margin-top: 6.75vw;
}

.main__cards{
    width: 75vw;
    display: flex;
    margin-top: 3vw;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .main__cards {
        padding: 0;
    }

    footer {
        margin-top: 5.21vw;
    }
}

@media (max-width: 425px) {
    footer {
        margin-top: 9.41vw;
        position: relative;
        bottom: -21.88vw;
    }
}

